.App {
  text-align: center;
}
.image-cover-row {
  display: flex;
  justify-content: space-around;
}

.image-cover-row-item {
  flex: 1;
  flex-basis: 100%;
  position: relative;
}

.image-cover-row-item img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .image-cover-row {
    display: block;
    flex-direction: column;
    flex-basis: 100%;
  }
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  height: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: height 0.3s linear;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-cover-row-item:hover .overlay {
  opacity: 1;
  height: 100px;
}